@import '~vuetify/src/stylus/settings/_variables'
@import url('https://fonts.googleapis.com/css?family=Montserrat')

// $material-light.background = #FFF
$body-font-family = 'Montserrat'
$heading-font-family = $body-font-family

@import '~vuetify/src/stylus/app'